
.vs/CrystalGrowth/project-colors.json
.vs/CrystalGrowth/v14/.suo
.vs/CrystalGrowth/v16/.suo
.vs/CrystalGrowth/v17/.suo
.vs/CrystalGrowth/v17/DocumentLayout.backup.json
.vs/CrystalGrowth/v17/DocumentLayout.json
.vs/CrystalGrowth/v17/fileList.bin
.vs/CrystalGrowth/v17/TestStore/0/000.testlog
.vs/CrystalGrowth/v17/TestStore/0/testlog.manifest
CrystalGrowth/bin/x64/
CrystalGrowth/obj/
.vs/CrystalGrowth/FileContentIndex/861405b2-f5a2-4f58-aff9-b37cdc50640c.vsidx
