<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <root>
    </root>
    <logger name="Info">
      <level value="DEBUG"/>
      <appender-ref ref="LogInfo" />
    </logger>
    <appender name="LogInfo" type="log4net.Appender.RollingFileAppender">
      <param name="file" value="Log\\" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyy-MM'.dat'" />
      <staticLogFileName value="false" />
      <param name="StaticLogFileName" value="false"/>
      <MaxSizeRollBackups value="30" />
      <MaximumFileSize value="30MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date :%message%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>